
/* Base Styles */

body {
  box-sizing: border-box;
  text-align: center;
  font: helvetica, sans-serif;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;

}

h1 {
  font-size: 2em;
  color: #fff;
  margin: 0;
  padding: 5px;
}

h2 {
  font-size: 1.5em;
  margin: 20px auto;
}

h3 {
  color: #fff;
  font-size: 1em;
  margin: 3px;
}

p {
  font-size: 1em;
  text-align: justify;
  margin-top: 15px;
}

ul {
  margin: 5px 20px;
  padding: 0;
}

li {
  list-style: none;
  margin: 2px 3px;
  padding: 1px 3px;
}

a {
  color: #fff;
  padding: 2px;
}

select {
  color: black;
  line-height: 20px;
  height: 20px;
  background-color: #fff;
  margin-bottom: 2px;
}

img {
  display: block;
  margin: 40px auto;
  padding: 0;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10%;
}

.main-header {
  background: #00cc66;
}

.main-header a {
  text-decoration: none;
  color: white;
  background:#0099cc;
  border-radius: 5px;
}

.filters {
  width: 64%;
}

.article-header {
  background: #0099cc;
  margin-top: 5px;
  border: solid #003399;
}

.article-body {
  margin-top: 5px;
  padding: 0 15px;
}

.footer {
  height: 60px;
  display: flex;
  justify-content: center;
  background: lightgray;
  margin: 0;
  padding: 0;
}

.footer span {
  align-self: center;
}

#about-hide {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 700px;
  padding: 10px;
}

a:hover {
  background-color: orange;
  border-radius: 5px;
}

/*********** Layout ************/

/* For mobile screens */

.flex-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.filters {
  flex-direction: row;
  align-self: center;
}

.flex-item {
  flex: 1;
}


@media (min-width: 600px){

  /*Styles */
  img {
  max-width: 350px;
  max-height: 350px;
  }

  .main-header h1 {
  font-size: 2.5em;
  }

  .main-header h2 {
    font-size: 1.8em
  }

  .main-header a {
    font-size: 1.2em;
  }

/* Layout */

  .main-header,
  .nav
  /*.flex-container.filters*/
  {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    align-content: space-between;
  }

  .filters {
    flex-direction: column;
    justify-content: flex-end;
    order: 5;
  }


  /*.filters {
    width: 700px;
  }*/


/**/
.secret









  /*.main-header,
  .article-header,
  .nav {
    display: flex;
    align-items: center;
  }

  .main-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    order: -1;
    margin-bottom: 15px;
  }

  .title {
    margin-left: 0;
  }

  .main-header p {
    align-self: center;
    font-size: 1.8em;

  }

  .main-header h1 {
    font-size: 3em;
  }

  .main-header ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 5px;
  }

  .nav li {
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin: 4px;
    padding: 0;
  }

  .filters {
    align-self: flex-end;
    width: 99%;
    margin: 0 auto;
  }



  .article-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .article-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }

  .article-body p {

    width: 45%;
    font-size: 1em;
    text-align: center;
    margin-bottom: 60px;
    column-count: 2;
    border: solid #003399;
    padding: 5px;
  }

  .about p {
    font-size: 1.5em;
    margin: 20px;
  }*/

} /*End media query for screen min 769px*/

/*@media (min-width: 1000px){
.article-body p {
  width: 30%;
}

}*/
