
/* Base Styles */

body {
  box-sizing: border-box;

  font: helvetica, sans-serif;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 800px;

}

h1 {
  font-size: 2em;
  color: #fff;
  margin: 0;
  padding: 5px;
}

h2 {
  font-size: 1.5em;
  margin: 20px auto;
}

h3 {
  color: #fff;
  font-size: 1em;
  margin: 3px;
}

p {
  text-align: justify;
  font-size: 1em;
  margin-top: 15px;
}

ul {
  margin: 5px 20px;
  padding: 0;
}

li {
  list-style: none;
  margin: 2px 3px;
  padding: 1px 3px;
}

a {
  color: #fff;
  padding: 2px;
}

select {
  color: black;
  line-height: 20px;
  height: 20px;
  background-color: #fff;
  margin-bottom: 2px;
}

button {
  margin: 0 auto;
}


img {
  display: block;
  margin: 40px auto;
  padding: 0;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10%;
}

.main-header {
  background: #00cc66;
  align-items: center;
  order: -10;
}

.main-header h1 {

}

.main-header a {
  text-decoration: none;
  color: white;
  background:#0099cc;
  border-radius: 5px;
}

.filters {
  width: 98%;
}

.main-content {
  text-align: center;
  order: 1;
}

.article-header {
  background: #0099cc;
  margin-top: 5px;
  border: solid #003399;
  text-align: center;
}

.article-body {
  margin-top: 5px;
  padding: 0 15px;
  text-align: center;
}

.footer {
  height: 60px;
  display: flex;
  justify-content: center;
  background: lightgray;
  margin: 0;
  padding: 0;
  order: 100;
}

.footer span {
  align-self: center;
  order: 99;
}

#about-hide {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 700px;
  padding: 10px;
}

a:hover {
  background-color: orange;
  border-radius: 5px;
}

.h1Secret {
  margin:0;
  font-size: 1em;
  color: #000;
}

.headerSecret {
  font-size: 1em;
  margin: 2px;
}

/*********** Layout ************/

/* For mobile screens */

.flex-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
}

.main-header {
  justify-content: center;
  height: 200px;
}

.filters {
  flex-direction: row;
  align-self: center;
}

.flex-item {
  flex: 1;
}


.input {
  margin: 0;
  padding: 0;
  width: 80%;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 200px;
  margin: 0 auto;
}

.outputContainer {
  padding: 0;
  width: 95%;
}

.output {
  border: solid thin #000;
  height: 150px;
  overflow: auto;
  max-width: 95%;

}

.divBlock {
  margin: 0 auto;
  padding: 0;
  min-width: 300px;
}

.divBlock p {
  margin: 0 auto;
}

/*.markdownDiv {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}*/


@media (min-width: 600px){

  /*Styles */
  img {
  max-width: 350px;
  max-height: 350px;
  }

  .main-header {
    height: 100px;
  }

  .main-header h1 {
  font-size: 3em;
  margin-left: 5px;
  }

  .main-header h2 {
    font-size: 1.8em
  }

  .main-header a {
    font-size: 1.2em;
  }

/* Layout */

  .main-header,
  .nav
  /*.flex-container.filters*/
  {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
  }

  .filters {
    height: 30px;
    flex-direction: row;
    align-self:flex-end;
    justify-content: center;
    margin: 0 auto;
  }


} /*End media query for screen min 769px*/

/*@media (min-width: 1000px){
.article-body p {
  width: 30%;
}

}*/
